/system backup save name=before_admin_password_renew
/log info {{ansible_mgmt_admin}} password has been changed
/user set {{ansible_mgmt_admin}} password="{{ansible_mgmt_admin_pass}}"

/log info {{ansible_mgmt_user}} password has been changed
/user set {{ansible_mgmt_user}} password="{{ansible_mgmt_user_pass}}"
